<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Information Booking</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/styleadmin.css">
	<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
<![endif]-->
</head>

<body>

	<header>
		<nav>
			<h1><a href="index.html" id="logo">HappyHotel</a></h1>
			<ul id="navli">
				<li><a class="homered" href="\listbooking">Booking Update</a></li>
				<li><a class="homeblack" href="\listroom">Room Update</a></li>
				<li><a class="homeblack" href="\listuser">User Update</a></li>
				<li><a class="homeblack" href="\login">Log Out</a></li>
			</ul>
		</nav>
	</header>

	<div class="divider"></div>
	<div id="divimg">

	</div>

	<table>
		<tr>
			<th align="center">ID</th>
			<th align="center">Name</th>
			<th align="center">Email</th>
			<th align="center">Phone</th>
			<th align="center">LengthStay</th>
			<th align="center">Number Of Person</th>
			<th align="center">Arrival Date</th>
			<th align="center">Room</th>
			<th align="center">User ID</th>
			<th align="center">Action</th>
		</tr>

		<th:block th:each="booking: ${listBooking}">
			<tr>
				<td>[[${booking.id}]]</td>
				<td>[[${booking.name}]]</td>
				<td>[[${booking.email}]]</td>
				<td>[[${booking.phone}]]</td>
				<td>[[${booking.lengthStay}]]</td> 
				<td>[[${booking.numberPerson}]]</td>
				<td>[[${booking.arrivalDate}]]</td>
				<td>[[${booking.room.id}]]</td>
				<td>[[${booking.user.id}]]</td>
				<td><a th:href="@{'bookingupdate?id='+${booking.id}}" class="btn btn-primary">Edit</a></td>
				</td>
			</tr>
		</th:block>

	</table>
</body>

</html>